test.json
[{"id":"7990f10c.3e589","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3d8b0a26.d9e4e6","type":"inject","z":"7990f10c.3e589","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":280,"wires":[[]]},{"id":"a8aa7dd5.d4334","type":"debug","z":"7990f10c.3e589","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":280,"wires":[]},{"id":"d3c883b8.ccf37","type":"status","z":"7990f10c.3e589","name":"","scope":null,"x":410,"y":320,"wires":[[]]},{"id":"60c119e0.f1e158","type":"catch","z":"7990f10c.3e589","name":"","scope":null,"uncaught":false,"x":410,"y":240,"wires":[[]]}]
